<IfModule mod_rewrite.c>
 #Session timeout

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ ^$1 [N]

RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
RewriteRule ^(.*)$ public/$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php

</IfModule>

<Files .env>
  Order allow,deny
  Deny from all
</Files>

<Files composer.json>
  Order allow,deny
  Deny from all
</Files>

#<IfModule php7_module>
#php_flag display_errors Off
#php_value upload_max_filesize 1000000000000000000000M
#php_value post_max_size 1000000000000000000000M
#php_value max_execution_time 9000000000000000000000
#php_value max_input_time 9000000000000000000000
#php_value memory_limit 9000000000000000000000M
#php_value max_file_uploads 500
#php_value default_socket_timeout 9000000000000000000000
#</IfModule>